<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/idea/java_code/TestNg">
        <classes>
            <class name="calculate.CalculateTest">
                <methods>
                    <include name="testAdd"/>
                    <include name="testSubtract"/>
                    <include name="testMultiply"/>
                    <include name="testDivide"/>
                </methods>
            </class>
        </classes>
<!--        <packages>-->
<!--            <package name="calculate">-->
<!--                <include name="testAdd"/>-->
<!--                <include name="testSubtract"/>-->
<!--                <include name="testMultiply"/>-->
<!--                <include name="testDivide"/>-->
<!--            </package>-->
<!--        </packages>-->
    </test>
</suite>